[core]
	excludesfile = /home/hayley/.gitignore_global
	autocrlf = input
[user]
	name = Hayley Swimelar
	email = hayley@linbit.com
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[color]
	ui = true
[alias]
	ci = commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	s = status -s
	vdiff = difftool
  d = diff
  dif = diff
  br = branch
  ck = checkout
  cl = clone
  mb = merge --no-ff
  pl = pull
  ps = push
  rb = rebase
[hub]
	protocol = https
[diff]
	tool = vimdiff
[merge]
	tool = meld
[difftool]
	prompt = false
[gitreview]
	username = hayswim
[rebase]
	autosquash = true
