[core]
	excludesfile = /home/hayley/.gitignore_global
	autocrlf = input
[user]
	name = Hayley Swimelar
	email = hswimelar@gitlab.com
[push]
	default = simple
[rerere]
	enabled = true
[color]
	ui = true
[alias]
	ci = commit -vv
	s = status -s
  br = branch
  ck = checkout
  cl = clone
  d = diff
  dif = diff
  dm = difftool --tool=meld
  dms = difftool --tool=meld --staged
  dms-no-vendor = difftool --tool=meld --staged ':!vendor'
  ds = diff --staged
  ds-no-vendor = diff --staged ':!vendor'
  dv = difftool --tool=vimdiff
  dvs = difftool --tool=vimdiff --staged
  dvs-no-vendor = difftool --tool=vimdiff --staged ':!vendor'
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  mb = merge --no-ff
  pl = pull
  ps = push
  pushup = push --set-upstream origin HEAD
  rb = rebase
[hub]
	protocol = https
[merge]
	tool = meld
[difftool]
	prompt = false
[gitreview]
	username = hayswim
[rebase]
	autosquash = true
